.usersContainer {
  max-width: 100vw;
}

.users {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  font-size: 14px;
  color: black;
}

.user {
  margin: 10px 20px 0px 20px;
}



span {
  max-width: 1000px;
  margin: 0px 10px 10px 0px;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100px;
}

.getUsers {
  margin: 10px 20px 0px 20px;
}
