.header {
  display: flex;
	background-color: rgb(122, 228, 122);
	grid-area: h;
  font-size: 24px;
  color: #000000;
}
.header img {
	display: block;
	margin: 5px;
	max-width: 100px;
}
.loginBlock {
  /*float: right;*/
  font-size: 24px;
  color: #000000;
}
